
body,html {
    padding: 0;
    margin: 0;
}


.mem{
    position: relative;
    text-align: center;
}


.mem img {
    position: absolute;
    left: -18%;
    right: 10%;
    width: 1451px;
    height: 1844px;
}

@media (max-width:550px) {
    .mem img {
        left: -154%;
    }

}


@media (max-width:480px) {
    .mem img {
        left: -189%;
    }

}

@media (max-width:440px) {
    .mem img {
        left: -210%;
    }

}

@media (max-width:375px) {
    .mem img {
        left: -221%;
    }

}