body {
    background-color: hsl(228deg 10% 10%);
    font-family:'Syne', sans-serif;;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
}

::-webkit-scrollbar{ width: 5px;}
::-webkit-scrollbar-track{ background: transparent;}
::-webkit-scrollbar-track{
    background-color: white;
    border-radius: 20px;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
    outline: none;
    border-color: transparent;
}
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* NULL */ 


/* Services */ 

.container {
    max-width: 1121px;
    margin: 0 auto;
}

/* HEADER */ 

.header-menu {
    display: flex;
    justify-content: space-between;
}

.header {
    z-index: 10;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    background-color: hsl(228deg 10% 13%);
    box-shadow: black 0px -9px 23px 23px;
    padding-block: 24px;
    z-index: 4;
    transition: 0.4s all ease;
}

.header.activer {
    background-color: white;
    padding-block: 16px;
}

.header.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    height: 52px;
}

.nav-toggle-btn {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 65px;
    display: grid;
    place-content: center;
    transition: 0.4s all ease;
}

.nav-acitve {
    overflow-y: hidden;
}


.nav-toggle-btn { gap:5px; }
.nav-toggle-btn:is(:hover, :focus-visible) { gap:8px; }
.nav-toggle-btn.active { gap: 8px; }

.nav-toggle-btn .line {
    width: 25px;
    height: 2px;
    background-color: black;
    transition: 0.4s all ease;
}

.nav-toggle-btn.active .line-1 {transform: rotate(45deg) translate(4px,4px);}

.nav-toggle-btn.active .line-2 {transform: rotate(-45deg) translate(3px,-3px);}

.navbar {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content:space-evenly;
    visibility: hidden;
    flex-wrap: wrap;
    touch-action: 100%;
    top: 110px;
    right: -370px;
    max-width: 285px;
    width: 100%;
    background-color: white;
    height: 100vh;
    text-align: center;
    padding: 0 40px;
    transition: 0.25s all ease-in;
    z-index: 1;
}

.navbar.active {
    transform: translateX(-370px);
    visibility: visible;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navbar-link {
    font-family:monospace;
    color: rgb(83, 83, 83);
    font-size: 25px;
    font-weight: small;
    padding-block: 10px;
    transition: 0.4s all ease;
}

.navbar-list {
    height: 200px;
    text-align: center;
}

.navbar-li {
    list-style-type: none;
    margin-bottom: 40px;
}

.navbar-link:is(:hover,:focus-visible) {text-shadow: 1px 0 0 black;}


/* MAIN */ 

.main {
   
    padding: 50px 10px 0 10px;
}

.block_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img_me {
    display: inline-block;
}

.main-img {
    height: auto;
    width: 100%;
    max-width: 627px;
}



.main-name-title {
    font-size: 6rem;
    font-weight: 800;
    text-shadow: 2px 2px 0 black;
    text-transform: uppercase;
    color: white;
}

.main-pre-title {
    font-size: 16px;
    font-weight: 700;
    text-shadow: 2px 2px 0 black;
    text-transform: uppercase;
    color: white;
    margin: 0;
}

.main-description {
    max-width: 600px;
    font-size: 15px;
    color: hsl(229deg 10% 57%);
}

/* service */ 

.service {
    padding-top: 150px;
}

.service-description {
    display: flex;
    justify-content: space-between;
}

.service-decription-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sirvece-pre-title {
    font-weight: 700;
    font-size: 1rem;
    color: hsl(229deg 10% 57%);
    margin: 0;
}

.service-block-link-card {
    width: 100%;
    max-width: 365px;
}

.service-title {
    font-size: 35px;
    color: white;
    font-weight: 700;
    margin-top: 10px;
}

.service-decription {
    font-size: 16px;
    color: hsl(229deg 10% 57%);
}

.product-card {
    position: relative;
    max-height: 463px;
    height: 100%;
    padding: 33px 40px 40px;
    background-color: white;
}

.product-card:hover {
    transition:  0.5s ease;
    background-color: hsla(231, 10%, 14%, 1);
}

.card {
    margin-top: 30px;
}

.service-block-link-card:hover li {
    transition: all 0.4s ease;
    color: white;
}

.service-block-link-card:hover h2{
    transition: all 0.4s ease;
    color: white;
}

.service-block-link-card:hover p{
    transition: all 0.4s ease;
    color: rgb(188, 250, 2);
}

.service-block-link-card:hover .service-card-keys{
    transition: all 0.4s ease;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
}

.service-block-link-card:hover .service-price-s{
    transition: all 0.4s ease;
    color: white;
}

.service-block-link-card:hover .service-img-card1{
    transition: all 0.4s ease;
    fill: #818181;
}

.service-block-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-img-card {
    display: block;
    width: 100%;
    max-width: 172px;
}

.service-img-card1:hover {
    fill: white;
}

.service-img-card-block {
    display: flex;
    align-items: center;
    justify-content: center;
}



.title_card {
    font-family:monospace ;
    color: #505050;
    font-size: 1.7rem;
    font-weight: 800;
    padding: 12px 0 10px 0;
    margin-left: 15px;
}

.service-decription-card {
    margin-top: 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: hsl(229deg 10% 57%);
    font-size: 1.1rem;
}

.service-card-keys {
    position: absolute;
    font-weight: 800;
    font-size: 4.5rem;
    line-height: 0.6;
    color: transparent;
    opacity: 0.4;
    -webkit-text-stroke: 2px black;
    bottom: 27px;
    right: 23px;
}

.service-price-card {
    margin: 10px 0 0 0;
    font-size: 1.3rem;
    font-weight: 800;
    color: black;
}

.service-price-s {
    color: black;
    font-weight: 700;
}

.service-btn {
    position: absolute;
    bottom: 3%;
    left: 10%;
}

.service-btn-link {
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 10px;
    background-color: rgb(179 179 179);
    padding: 11px 44px 11px 44px;
}

.service-btn-link:hover {
    transition: all 0.4s ease;
    background-color: rgb(118, 118, 118);
}


/* SKILSS */ 

.section-skils {
    padding: 230px 10px 223px 10px;
}

.skils-pre-title {
    font-family:'Syne', sans-serif;;
    font-size: 1.2rem;
    font-weight: 700;
    color: hsl(229deg 10% 57%);
    letter-spacing: 2px;
}

.skils-title {
    max-width: 16ch;
    line-height: 1.2;
    font-size: 4rem;
    color: white;
    font-weight: 700;
    margin-top: 32px;
}

.skils-description h3 {
    letter-spacing: 10px;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 50px 0 20px 0;
    color: hsl(229deg 10% 57%);
}

.skils-email {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: hsl(229deg 10% 57%);
}

.skils-email:hover {
    transition: all 0.4s ease;
    color: hsl(226, 16%, 84%);
}

.skills-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

.skils-progres {
    width: 50vh;
}

.skils-progres li {
    list-style-type: none;
}

.progres-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
}

.progres-label {
    margin-bottom: 10px;
}

.progres-bg {
    height: 6px;
    background-color: hsl(231deg 10% 14%);
    border-radius: 2px;
}

.progres {
    width: 80%;
    height: inherit;
    background-color: white;
    border-radius: inherit
}

.progres-css {
    width: 85%;
    height: inherit;
    background-color: white;
    border-radius: inherit
}

.progres-js {
    width: 30%;
    height: inherit;
    background-color: white;
    border-radius: inherit
}

/* PORTFOLIO */ 

.section-portfolio {
    padding: 0 10px 0 10px;
}

.portfolia-pre-title {
    font-family:'Syne', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: hsl(229deg 10% 57%);
    letter-spacing: 2px;
}

.portfolia-title {
    line-height: 1.2;
    font-size: 3.2rem;
    color: white;
    font-weight: 700;
    margin: 0;
}

.portfolia-block {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
    margin-top: 80px;
}

.portfilio-img:hover{
    filter: grayscale(80%);
    transition: all 0.4s ease;
    transform:scale(0.95);
    box-shadow: rgb(0 0 0) 21px 18px 27px 8px;
}

.some{
  position: relative;
  z-index: 19;
  display: flex;
  justify-content: space-between;
  background :rgb(0, 0, 0);
  width:611px;
  height:500px;
}

.some:hover{ 
  z-index: 2;
  background :rgba(0,0,0,.4); opacity:.4;
}

.portfolio-title {
    position: absolute;
    z-index: 20;
    display: none;
    top: 50%;
    left: 38%;
    color: white;
}

.some:hover p{
    display: block;
}

.verh {
    position: relative;
}

.verh:hover p{
    transition: all 0.4s ease;
    display: block;
}


/* RIEWS */ 

.content {
    max-height: 0;
    overflow: hidden;
}

.section-reviews {
    padding: 250px 10px 200px 10px;
}

.accordion {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    width: 97%;
    height: 65px;
    border-radius: 10px;
    background-color: #363636;
    margin-top: 30px;
}

.accordion p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 21px;
    color: white;
}

.accordion:hover{
    transition: all 0.4s ease;
   background-color: #1a1a1a;
}

.content p {
    font-size: 20px;
    width: 96%;
    border-radius: 10px;
    margin: 10px 0 5px 0;
    padding: 10px 3px 11px 10px;
    background-color: #ffffff;
    color: black;
}

/* footer */ 

.footer {
    padding: 0 10px 0 10px;
    padding-block: 76px;
    background-color: hsl(231deg 10% 14%);
}

.block_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-footer {
    font-weight: 800;
    color: white;
}

.email-footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: hsl(229deg 10% 57%);
}

.icon-footer-inst {
    fill: white;
}

.social-link {
    width: 45px;
    height: 45px;
    display: grid;
    place-items: center;
    border: 2px solid hsla(0, 0%, 100%, 0.1);
    border-radius: 50%;
    color: white;
    transition: 0.25s ease; 
}

.social-link:hover {
   border-color: white;
}

/* SWIPER */ 

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-next:after, .swiper-button-prev:after {
     color: #6bdd35 !important;
  }


/* media */

@media (max-width:1165px) {
    .header-logo {
        padding-left: 10px;
    }

    .service-title-text {
        padding-left: 10px;
    }

    .nav-toggle-btn {
        margin-right: 10px;
    }
}

@media (max-width:1125px) {
   .service-block-link-card {

   }

   .service-block-card {
     justify-content: space-evenly;
    }

}

@media (max-width:1115px) {
    .tre {
        margin-top: 102px;
    }
 
    .service-block-card {
      justify-content: space-evenly;
     }

     .main-name-title {
        font-size: 4.2rem;
     }

     .main-pre-title {
        font-size: 14px;
     }

     .main-description {
        font-size: 13px;
     }
     
 
 }

 
@media (max-width:905px) {
    .sirvece-pre-title {
        font-size: 0.9rem;
    }

    .service-decription {
        font-size: 14px;
    }

    .main-name-title {
        font-size: 4rem;
     }

     .main-pre-title {
        font-size: 12px;
     }

     .main-description {
        font-size: 11px;
     }
 
 }


@media (max-width:886px) {
    .skils-title {
        font-size: 3rem;
    }
 
    .skils-description h3 {
        font-size: 1.4rem;
     }

     .skils-email {
        font-size: 1rem;
     }

     .progres-label {
        font-size: 1.2rem;
     }

     .service-title {
        font-size: 32px;
     }

     .main-name-title {
        font-size: 3.8rem;
     }

     .main-pre-title {
        font-size: 10px;
     }

     .main-description {
        font-size: 11px;
     }
 
 }

 @media (max-width:770px) {
    .section-reviews {
        padding: 180px 10px 180px;
    }

    .accordion p {
        font-size: 18px;
    }

    .main-name-title {
        font-size: 3.6rem;
     }

     .main-pre-title {
        font-size: 10px;
     }

     .main-description {
        font-size: 11px;
     }
    
 }

 @media (max-width:725px) {
    .tve {
        margin-top: 96px;
    }

    .title_card {
        font-size: 1.6rem;
    }

    .service-decription-card {
        font-size: 1rem;
    }

    .service-price-card {
        font-size: 1.2rem;
    }

    .service-card-keys {
        font-size: 4.1rem;
    }

    .main-name-title {
        font-size: 3.2rem;
     }

     .main-pre-title {
        font-size: 10px;
     }

     .main-description {
        font-size: 10px;
     }
    
 }

 @media (max-width:662px) {

    .section-skils {
        padding: 200px 10px 180px;
    }

    .skils-title {
        font-size: 2.5rem;
    }
 
    .skils-description h3 {
        font-size: 1.3rem;
     }

     .skils-email {
        font-size: 0.9rem;
     }

     .progres-label {
        font-size: 1.1rem;
     }

     .progres-value {
        font-size: 1.2rem;
     }

     .section-reviews {
        padding: 120px 10px 150px;
    }

    .title-footer {
        font-size: 29px;
    }

    .email-footer {
        font-size: 1.1rem;
    }

    .content p {
        font-size: 17px;
    }

    .sirvece-pre-title {
        font-size: 0.7rem;
    }

    .service-title {
        font-size: 28px;
        padding-left: 5px;
     }

     .service-decription {
        font-size: 12px;
    }

    .service-block-card {
        justify-content: center;
    }

    .block_content {
        flex-direction: column;
    }

    .main-name-title {
        font-size: 3.4rem;
     }

     .main-pre-title {
        font-size: 13px;
     }

     .main-description {
        font-size: 13px;
     }

     .service {
        padding-top: 100px;
     }

     .header {
        padding-block: 9px;
     }
     .header-logo {
        height: 53px;
     }

     .navbar {
        max-width: 400px;
        top: 80px;
        height: 100vh;
     }
     
    .footer {
        padding-block: 46px;
    }

 
 }


 @media (max-width:590px) {

    .section-skils {
        padding: 160px 10px 140px;
    }

    .skills-wrapper {
        flex-direction: column;
    }

    .skils-progres {
        margin-top: 25px;
        width: 46vh;
    }

    

    .progres-value {
        font-size: 1.1rem;
     }

     .swiper-button-prev, .swiper-rtl .swiper-button-next,.swiper-button-next, .swiper-rtl .swiper-button-prev {
        display: none !important;
     }

     .section-reviews {
        padding: 100px 10px 120px;
    }

    .accordion p {
        font-size: 18px;
    }

    .title-footer {
        font-size: 25px;
    }

    .email-footer {
        font-size: 1rem;
    }

    .block_footer {
        justify-content: space-around;
    }

    .content p {
        font-size: 14px;
    }

    .sirvece-pre-title {
        font-size: 0.6rem;
    }

   

    .service-title {
        font-size: 25px;
     }

     .service-decription {
        font-size: 10px;
    }

    .title_card {
        font-size: 1.5rem;
    }

    .service-decription-card {
        font-size: 0.9rem;
    }

    .service-price-card {
        font-size: 1.1rem;
    }

    .service-card-keys {
        font-size: 4rem;
    }

    .service-block-link-card {
        max-width: 300px;
    }

    .main-name-title {
        font-size: 3.1rem;
     }

     .main-pre-title {
        font-size: 11px;
     }

     .main-description {
        font-size: 10px;
     }

 }



 @media (max-width:440px) {

   
    .section-skils {
        padding: 120px 10px 100px;
    }
}

 @media (max-width:430px) {
    .skils-title {
        font-size: 2.2rem;
    }

    .skils-description h3 {
        font-size: 1.2rem;
     }

     .skils-email {
        font-size: 0.8rem;
     } 

     .progres-label {
        font-size: 1rem;
     }

     .accordion p {
        font-size: 16px;
    }

    .section-reviews {
        padding: 80px 10px 110px;
    }

    .content p {
        font-size: 13px;
    }

    .sirvece-pre-title {
        font-size: 0.5rem;
    }

    .service-title {
        font-size: 22px;
     }

     .service-decription {
        font-size: 10px;
    }


 }



